# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/inspectionProfiles/Project_Default.xml
/backend/node_modules/
.idea/misc.xml
.idea/modules.xml
.idea/react-redux-movie-app.iml
.idea/vcs.xml
.idea/workspace.xml
backend/node_modules/.bin/
backend/node_modules/abbrev/
backend/node_modules/accepts/
backend/node_modules/ansi-align/
backend/node_modules/ansi-regex/
backend/node_modules/ansi-styles/
backend/node_modules/anymatch/
backend/node_modules/arr-diff/
backend/node_modules/arr-flatten/
backend/node_modules/arr-union/
backend/node_modules/array-flatten/
backend/node_modules/array-unique/
backend/node_modules/assign-symbols/
backend/node_modules/async-each/
backend/node_modules/atob/
backend/node_modules/babel-cli/
backend/node_modules/babel-code-frame/
backend/node_modules/babel-core/
backend/node_modules/babel-generator/
backend/node_modules/babel-helper-call-delegate/
backend/node_modules/babel-helper-define-map/
backend/node_modules/babel-helper-function-name/
backend/node_modules/babel-helper-get-function-arity/
backend/node_modules/babel-helper-hoist-variables/
backend/node_modules/babel-helper-optimise-call-expression/
backend/node_modules/babel-helper-regex/
backend/node_modules/babel-helper-replace-supers/
backend/node_modules/babel-helpers/
backend/node_modules/babel-messages/
backend/node_modules/babel-plugin-check-es2015-constants/
backend/node_modules/babel-plugin-transform-es2015-arrow-functions/
backend/node_modules/babel-plugin-transform-es2015-block-scoped-functions/
backend/node_modules/babel-plugin-transform-es2015-block-scoping/
backend/node_modules/babel-plugin-transform-es2015-classes/
backend/node_modules/babel-plugin-transform-es2015-computed-properties/
backend/node_modules/babel-plugin-transform-es2015-destructuring/
backend/node_modules/babel-plugin-transform-es2015-duplicate-keys/
backend/node_modules/babel-plugin-transform-es2015-for-of/
backend/node_modules/babel-plugin-transform-es2015-function-name/
backend/node_modules/babel-plugin-transform-es2015-literals/
backend/node_modules/babel-plugin-transform-es2015-modules-amd/
backend/node_modules/babel-plugin-transform-es2015-modules-commonjs/
backend/node_modules/babel-plugin-transform-es2015-modules-systemjs/
backend/node_modules/babel-plugin-transform-es2015-modules-umd/
backend/node_modules/babel-plugin-transform-es2015-object-super/
backend/node_modules/babel-plugin-transform-es2015-parameters/
backend/node_modules/babel-plugin-transform-es2015-shorthand-properties/
backend/node_modules/babel-plugin-transform-es2015-spread/
backend/node_modules/babel-plugin-transform-es2015-sticky-regex/
backend/node_modules/babel-plugin-transform-es2015-template-literals/
backend/node_modules/babel-plugin-transform-es2015-typeof-symbol/
backend/node_modules/babel-plugin-transform-es2015-unicode-regex/
backend/node_modules/babel-plugin-transform-regenerator/
backend/node_modules/babel-plugin-transform-strict-mode/
backend/node_modules/babel-polyfill/
backend/node_modules/babel-preset-es2015/
backend/node_modules/babel-register/
backend/node_modules/babel-runtime/
backend/node_modules/babel-template/
backend/node_modules/babel-traverse/
backend/node_modules/babel-types/
backend/node_modules/babylon/
backend/node_modules/balanced-match/
backend/node_modules/base/
backend/node_modules/binary-extensions/
backend/node_modules/body-parser/
backend/node_modules/boxen/
backend/node_modules/brace-expansion/
backend/node_modules/braces/
backend/node_modules/bson/
backend/node_modules/buffer-shims/
backend/node_modules/bytes/
backend/node_modules/cache-base/
backend/node_modules/camelcase/
backend/node_modules/capture-stack-trace/
backend/node_modules/chalk/
backend/node_modules/chokidar/
backend/node_modules/ci-info/
backend/node_modules/class-utils/
backend/node_modules/cli-boxes/
backend/node_modules/collection-visit/
backend/node_modules/color-convert/
backend/node_modules/color-name/
backend/node_modules/commander/
backend/node_modules/component-emitter/
backend/node_modules/concat-map/
backend/node_modules/configstore/
backend/node_modules/content-disposition/
backend/node_modules/content-type/
backend/node_modules/convert-source-map/
backend/node_modules/cookie-signature/
backend/node_modules/cookie/
backend/node_modules/copy-descriptor/
backend/node_modules/core-js/
backend/node_modules/core-util-is/
backend/node_modules/cors/
backend/node_modules/create-error-class/
backend/node_modules/cross-spawn/
backend/node_modules/crypto-random-string/
backend/node_modules/debug/
backend/node_modules/decode-uri-component/
backend/node_modules/deep-extend/
backend/node_modules/define-property/
backend/node_modules/depd/
backend/node_modules/destroy/
backend/node_modules/detect-indent/
backend/node_modules/dot-prop/
backend/node_modules/dotenv/
backend/node_modules/duplexer/
backend/node_modules/duplexer3/
backend/node_modules/ee-first/
backend/node_modules/encodeurl/
backend/node_modules/es6-promise/
backend/node_modules/escape-html/
backend/node_modules/escape-string-regexp/
backend/node_modules/esutils/
backend/node_modules/etag/
backend/node_modules/event-stream/
backend/node_modules/execa/
backend/node_modules/expand-brackets/
backend/node_modules/expand-range/
backend/node_modules/express/
backend/node_modules/extend-shallow/
backend/node_modules/extglob/
backend/node_modules/filename-regex/
backend/node_modules/fill-range/
backend/node_modules/finalhandler/
backend/node_modules/for-in/
backend/node_modules/for-own/
backend/node_modules/forwarded/
backend/node_modules/fragment-cache/
backend/node_modules/fresh/
backend/node_modules/from/
backend/node_modules/fs-readdir-recursive/
backend/node_modules/fs.realpath/
backend/node_modules/fsevents/
backend/node_modules/get-stream/
backend/node_modules/get-value/
backend/node_modules/glob-base/
backend/node_modules/glob-parent/
backend/node_modules/glob/
backend/node_modules/global-dirs/
backend/node_modules/globals/
backend/node_modules/got/
backend/node_modules/graceful-fs/
backend/node_modules/has-ansi/
backend/node_modules/has-flag/
backend/node_modules/has-value/
backend/node_modules/has-values/
backend/node_modules/home-or-tmp/
backend/node_modules/http-errors/
backend/node_modules/iconv-lite/
backend/node_modules/ignore-by-d
efault/
backend/node_modules/import-lazy/
backend/node_modules/imurmurhash/
backend/node_modules/inflight/
backend/node_modules/inherits/
backend/node_modules/ini/
backend/node_modules/invariant/
backend/node_modules/ipaddr.js/
backend/node_modules/is-accessor-descriptor/
backend/node_modules/is-binary-path/
backend/node_modules/is-buffer/
backend/node_modules/is-ci/
backend/node_modules/is-data-descriptor/
backend/node_modules/is-descriptor/
backend/node_modules/is-dotfile/
backend/node_modules/is-equal-shallow/
backend/node_modules/is-extendable/
backend/node_modules/is-extglob/
backend/node_modules/is-finite/
backend/node_modules/is-fullwidth-code-point/
backend/node_modules/is-glob/
backend/node_modules/is-installed-globally/
backend/node_modules/is-npm/
backend/node_modules/is-number/
backend/node_modules/is-obj/
backend/node_modules/is-odd/
backend/node_modules/is-path-inside/
backend/node_modules/is-plain-object/
backend/node_modules/is-posix-bracket/
backend/node_modules/is-primitive/
backend/node_modules/is-redirect/
backend/node_modules/is-retry-allowed/
backend/node_modules/is-stream/
backend/node_modules/is-windows/
backend/node_modules/isarray/
backend/node_modules/isexe/
backend/node_modules/isobject/
backend/node_modules/js-tokens/
backend/node_modules/jsesc/
backend/node_modules/json5/
backend/node_modules/kind-of/
backend/node_modules/latest-version/
backend/node_modules/lodash/
backend/node_modules/loose-envify/
backend/node_modules/lowercase-keys/
backend/node_modules/lru-cache/
backend/node_modules/make-dir/
backend/node_modules/map-cache/
backend/node_modules/map-stream/
backend/node_modules/map-visit/
backend/node_modules/math-random/
backend/node_modules/media-typer/
backend/node_modules/merge-descriptors/
backend/node_modules/methods/
backend/node_modules/micromatch/
backend/node_modules/mime-db/
backend/node_modules/mime-types/
backend/node_modules/mime/
backend/node_modules/minimatch/
backend/node_modules/minimist/
backend/node_modules/mixin-deep/
backend/node_modules/mkdirp/
backend/node_modules/mongodb-core/
backend/node_modules/mongodb/
backend/node_modules/ms/
backend/node_modules/nan/
backend/node_modules/nanomatch/CHANGELOG.md
backend/node_modules/nanomatch/LICENSE
backend/node_modules/nanomatch/README.md
backend/node_modules/nanomatch/index.js
backend/node_modules/nanomatch/lib/cache.js
backend/node_modules/nanomatch/lib/compiler2.js
backend/node_modules/nanomatch/lib/compilers.js
backend/node_modules/nanomatch/lib/parsers.js
backend/node_modules/nanomatch/lib/utils.js
backend/node_modules/nanomatch/node_modules/
backend/node_modules/nanomatch/package.json
backend/node_modules/negotiator/
backend/node_modules/nodemon/.jscsrc
backend/node_modules/nodemon/.jshintrc
backend/node_modules/nodemon/.travis.yml
backend/node_modules/nodemon/README.md
backend/node_modules/nodemon/bin/
backend/node_modules/nodemon/commitlint.config.js
backend/node_modules/nodemon/doc/
backend/node_modules/nodemon/lib/
backend/node_modules/nodemon/node_modules/anymatch/
backend/node_modules/nodemon/node_modules/arr-diff/
backend/node_modules/nodemon/node_modules/array-unique/
backend/node_modules/nodemon/node_modules/braces/
backend/node_modules/nodemon/node_modules/chokidar/
backend/node_modules/nodemon/node_modules/debug/
backend/node_modules/nodemon/node_modules/expand-brackets/
backend/node_modules/nodemon/node_modules/extglob/LICENSE
backend/node_modules/nodemon/node_modules/extglob/README.md
backend/node_modules/nodemon/node_modules/extglob/changelog.md
backend/node_modules/nodemon/node_modules/extglob/index.js
backend/node_modules/nodemon/node_modules/extglob/lib/compilers.js
backend/node_modules/nodemon/node_modules/extglob/lib/extglob.js
backend/node_modules/nodemon/node_modules/extglob/lib/parsers.js
backend/node_modules/nodemon/node_modules/extglob/lib/utils.js
backend/node_modules/nodemon/node_modules/extglob/node_modules/
backend/node_modules/nodemon/node_modules/extglob/package.json
backend/node_modules/nodemon/node_modules/fill-range/
backend/node_modules/nodemon/node_modules/glob-parent/
backend/node_modules/nodemon/node_modules/is-accessor-descriptor/
backend/node_modules/nodemon/node_modules/is-data-descriptor/
backend/node_modules/nodemon/node_modules/is-descriptor/
backend/node_modules/nodemon/node_modules/is-extglob/
backend/node_modules/nodemon/node_modules/is-glob/
backend/node_modules/nodemon/node_modules/is-number/
backend/node_modules/nodemon/node_modules/isobject/
backend/node_modules/nodemon/node_modules/kind-of/
backend/node_modules/nodemon/node_modules/micromatch/CHANGELOG.md
backend/node_modules/nodemon/node_modules/micromatch/LICENSE
backend/node_modules/nodemon/node_modules/micromatch/README.md
backend/node_modules/nodemon/node_modules/micromatch/index.js
backend/node_modules/nodemon/node_modules/micromatch/lib/cache.js
backend/node_modules/nodemon/node_modules/micromatch/lib/compilers.js
backend/node_modules/nodemon/node_modules/micromatch/lib/parsers.js
backend/node_modules/nodemon/node_modules/micromatch/lib/utils.js
backend/node_modules/nodemon/node_modules/micromatch/package.json
backend/node_modules/nodemon/node_modules/supports-color/
backend/node_modules/nodemon/package.json
backend/node_modules/nopt/
backend/node_modules/normalize-path/
backend/node_modules/npm-run-path/
backend/node_modules/number-is-nan/
backend/node_modules/object-assign/
backend/node_modules/object-copy/
backend/node_modules/object-visit/
backend/node_modules/object.omit/
backend/node_modules/object.pick/
backend/node_modules/on-finished/
backend/node_modules/once/
backend/node_modules/os-homedir/
backend/node_modules/os-tmpdir/
backend/node_modules/output-file-sync/
backend/node_modules/p-finally/
backend/node_modules/package-json/
backend/node_modules/parse-glob/
backend/node_modules/parseurl/
backend/node_modules/pascalcase/
backend/node_modules/path-dirname/
backend/node_modules/path-is-absolute/
backend/node_modules/path-is-inside/
backend/node_modules/path-key/
backend/node_modules/path-to-regexp/
backend/node_modules/pause-stream/
backend/node_modules/pify/
backend/node_modules/posix-character-classes/
backend/node_modules/prepend-http/
backend/node_modules/preserve/
Would rem
ove backend/node_modules/private/
backend/node_modules/process-nextick-args/
backend/node_modules/proxy-addr/
backend/node_modules/ps-tree/
backend/node_modules/pseudomap/
backend/node_modules/pstree.remy/
backend/node_modules/qs/
backend/node_modules/randomatic/
backend/node_modules/range-parser/
backend/node_modules/raw-body/
backend/node_modules/rc/
backend/node_modules/readable-stream/
backend/node_modules/readdirp/
backend/node_modules/regenerate/
backend/node_modules/regenerator-runtime/
backend/node_modules/regenerator-transform/
backend/node_modules/regex-cache/
backend/node_modules/regex-not/
backend/node_modules/regexpu-core/
backend/node_modules/registry-auth-token/
backend/node_modules/registry-url/
backend/node_modules/regjsgen/
backend/node_modules/regjsparser/
backend/node_modules/remove-trailing-separator/
backend/node_modules/repeat-element/
backend/node_modules/repeat-string/
backend/node_modules/repeating/
backend/node_modules/require_optional/
backend/node_modules/resolve-from/
backend/node_modules/resolve-url/
backend/node_modules/ret/
backend/node_modules/safe-buffer/
backend/node_modules/safe-regex/
backend/node_modules/safer-buffer/
backend/node_modules/semver-diff/
backend/node_modules/semver/
backend/node_modules/send/
backend/node_modules/serve-static/
backend/node_modules/set-immediate-shim/
backend/node_modules/set-value/
backend/node_modules/setprototypeof/
backend/node_modules/shebang-command/
backend/node_modules/shebang-regex/
backend/node_modules/signal-exit/
backend/node_modules/slash/
backend/node_modules/snapdragon-node/
backend/node_modules/snapdragon-util/
backend/node_modules/snapdragon/
backend/node_modules/source-map-resolve/
backend/node_modules/source-map-support/
backend/node_modules/source-map-url/
backend/node_modules/source-map/
backend/node_modules/split-string/
backend/node_modules/split/
backend/node_modules/static-extend/
backend/node_modules/statuses/
backend/node_modules/stream-combiner/
backend/node_modules/string-width/
backend/node_modules/string_decoder/
backend/node_modules/strip-ansi/
backend/node_modules/strip-eof/
backend/node_modules/strip-json-comments/
backend/node_modules/supports-color/
backend/node_modules/term-size/
backend/node_modules/through/
backend/node_modules/timed-out/
backend/node_modules/to-fast-properties/
backend/node_modules/to-object-path/
backend/node_modules/to-regex-range/
backend/node_modules/to-regex/
backend/node_modules/touch/
backend/node_modules/trim-right/
backend/node_modules/type-is/
backend/node_modules/undefsafe/
backend/node_modules/union-value/
backend/node_modules/unique-string/
backend/node_modules/unpipe/
backend/node_modules/unset-value/
backend/node_modules/unzip-response/
backend/node_modules/upath/
backend/node_modules/update-notifier/
backend/node_modules/urix/
backend/node_modules/url-parse-lax/
backend/node_modules/use/
backend/node_modules/user-home/
backend/node_modules/util-deprecate/
backend/node_modules/utils-merge/
backend/node_modules/v8flags/
backend/node_modules/vary/
backend/node_modules/which/
backend/node_modules/widest-line/
backend/node_modules/wrappy/
backend/node_modules/write-file-atomic/
backend/node_modules/xdg-basedir/
backend/node_modules/yallist/
